.BigText{
    font-size:60px;

}
.NormalText{
    font-size:20px;
}
.highlight {
    color: #18a1db;
    font-weight: bold;
  }
  .highlightGreen {
    color: #8bc540;
    font-weight: bold;
  }
  .goalbuttons {
    height: 125px;
    width: 125px;
    margin: 7.5px;
    transition: transform 0.2s;
  }
  
  .goalbuttons:hover {
    transform: scale(1.2);
  }
  .goodemporium {
    color: #18a1db;
  }