.org-choice:active {
    font-weight: bold;
    color: #18a1db;
  }
  .orgCard {
    height: 360px;
    width: 360px;
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 5px;
    background-color: #fafafa;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.2s;
  }
  .orgCard:hover {
    transform: scale(1.1);
  }
  .orgCard a {
    color: #ea2033;
    font-weight: 500;
    font-size: 1.25rem;
  }
  .orgCard p {
    padding: 15px;
  }
  .orgCard img {
    margin: 15px;
    width: 80px;
    height: 80px;
  }