/* GLOBAL STYLES */

body { font-family: 'Montserrat'; }
a { text-decoration: none; color: #18a1db; }
a:hover { text-decoration: none; color: black; }

.img { width: '200px'; height: '32px' }
.ge-blue { color: #18a1db; }
.ge-red { color: #EA2033; }
.ge-blue-bold { color: #18a1db; font-weight: bold; }
.ge-green-bold { color: #8bc540; font-weight: bold; }
.large-text { font-size:60px; }
.medium-text { font-size:20px; }
.no-margin-padding { margin: 0; padding: 0; }


/* BOOTSTRAP OVERRIDE STYLES */

.form-control { max-width: 600px; }


/* HEADER STYLES */

#header .search-box {
	position: relative;
    width: 250px;
    border: 3px solid #000;
    border-radius: 25px;
    padding-left: 10px;
}

#header .autocomplete {
	position: relative;

	i.fa-search {
		position: absolute;
	    top: 3px;
	    right: 10px;
	    color: gray;
	}
}
#header .nav-links {
	padding: 10px;
}

#header #navLinkSearch{
	padding-top: 20px;
}

#header #logoContainer {
	margin-top: 10px;

	a { text-decoration: none; color: gray; }
	.ge-logo { width: 200px; }
	.tagline { padding-left: 40px; }
}

/* FOOTER STYLES */
#footer .important-links {
	padding-top: 60px;
	p {
		padding-top: 0%;
		padding-bottom: 0%; 
	}
}
#footer #logoContainer {
	.ge-logo { width: 200px; }
	.tagline { padding-left: 40px; }
}


/* HOMEPAGE STYLES */

#homePage #goalButtonsContainer {
	margin-right: 50px;
}

#homePage #goalButtonsTitle {
	padding: 0 10px;
}

#homePage .goal-button {
	height: 125px;
	width: 125px;
	margin: 7.5px;
	transition: transform 0.2s;
}

#homePage .goal-button:hover {
	transform: scale(1.2);
}

/* CHARITY PAGE STYLES */

#goalsPage .org-choice:active {
    font-weight: bold;
    color: #18a1db;
  }
#goalsPage .org-card {
	height: 320px;
	width: 320px;
	margin: 1.5rem;
	padding: 1.5rem;
	border-radius: 5px;
	background-color: #fafafa;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.19);
	transition: transform 0.2s;

	a {
		color: #ea2033;
		font-weight: 500;
		font-size: 1.25rem;
	}

	p {
		padding: 15px;
    	overflow: scroll;
    	text-overflow: ellipsis;
    	resize: vertical;
	}

	img {
		max-width: 100%;
		max-height: 30%;
		margin-bottom: 10px;
	}
}
#goalsPage .org-card:hover {
	transform: scale(1.1);
}

.text-line {
    background-color: transparent;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #000 1px;
	padding: 3px 10px;
	width: 200px;
	display: inline-block; 
	text-align: left;
}
.footerSpacing {
margin: 0;
padding: 0;
}

.exampleofCharityWorkImg {
	width:377px; 
	height:212px
}

